<div class="container-fluid mt-1 p-2">
    <div class="d-flex justify-content-between bd-highlight">
        <div class="p-1 ms-5 bd-highlight logo">ClearTrip</div>
        <div class="p-1 me-5 bd-highlight">
            <button type="button" class="btn btn-primary px-3">Login/signUp</button>
        </div>
      </div>

      <div class="container w-75 mt-2 p-2 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav  d-flex justify-content-around w-100">
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active" routerLink="/flights">
                      <img src="https://www.pngfind.com/pngs/m/238-2387973_air-png-transparent-background-flight-logo-png-png.png" alt="" width="70" height="70">
                      <span>Flights</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column" routerLinkActive="active" routerLink="/hotels">
                      <img src="https://www.freepnglogos.com/uploads/hotel-logo-png/hotel-icon-download-28.png" alt="" width="70" height="70">
                    <span>Hotels</span>  
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://cdn-icons-png.flaticon.com/512/6254/6254132.png" alt="" width="70" height="70">
                      <span>HomeStays</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://img.freepik.com/premium-vector/minimalistic-train-logo-monochrome-design-style_693838-356.jpg?w=740" alt="" width="70" height="70">
                      <span>Train</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/1024px-Bus-logo.svg.png" alt="" width="70" height="70">
                      <span>Buses</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://e7.pngegg.com/pngimages/768/421/png-clipart-car-computer-icons-sedan-auto-detailing-auto-driving-rectangle-thumbnail.png" alt="" width="70" height="70">
                      <span>Cabs</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://w7.pngwing.com/pngs/10/566/png-transparent-package-tour-travel-tourism-computer-icons-hotel-touristic-text-logo-monochrome-thumbnail.png" alt="" width="70" height="70">
                      <span>Holiday Packages</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-flex flex-column">
                      <img src="https://cdn-icons-png.flaticon.com/512/3729/3729472.png" alt="" width="60" height="60">
                      <span>Travel Insurance</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
</div>

